<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>태그 관리 페이지</title>
				<link rel="stylesheet"
		href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
		/>
		<link rel="stylesheet"
		href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
		th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}"
		/>
		    <style>
       #map {
        height: 400px;
        width: 100%;
        	float: left;
       }
       #header{
       	width: 1000px;
       	margin: 0 auto;
       	background: aqua;
       }
       #wrap{
       	width:1000px;
       	overflow: hidden;
       }
       #aside{
       	width:200px;
       	float: left;
       }
     	#content{
       	width:800px;
       	float: left;
       }
    </style>		
	</head>
	<body>
		위치 정보 관리 샘플 페이지
		<br/>
		<div id="header">
			<a th:href="@{/tagManage}">태그관리</a> 
			<a th:href="@{/user}">사용자관리</a>
			<a th:href="@{/location}">위치관리</a>		
			<p th:text = "${name}"></p>
		</div>
		<div id="wrap" align="center">
		
		<div id="aside">
					<form>
				<input type="text" name="search"/>
				<input type="submit"/>
			</form>
			<table class="table-striped table-bordered table-condensed">
				<tr>
					<td>code</td>
					<td>Name</td>
					<td>Direction</td>
					<td>X1</td>
					<td>Y1</td>

				</tr>
				<tr th:each="location : ${locations}">
				
					<td th:text="${location.location_code}"/>
					<td th:text="${location.location_name}"/>
					<td th:text="${location.direction}"/>
					<td th:text="${location.x1}"/>
					<td th:text="${location.y1}"/>				
			
				</tr>
			</table>

		</div>
		
		 
		<footer>test1</footer>
		</div>

	</body>	
</html>
