<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>태그 관리 페이지</title>
				<link rel="stylesheet"
		href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
		/>
		<link rel="stylesheet"
		href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
		th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}"
		/>	
		<style type="text/css">
			#header {
				width: 800px; margin: 0 suto;
				background:red;
			}
		</style>	
	</head>
	<body>
		태그 관리 샘플 페이지
		<br/>
		<div align="center">
		<div id="header">
			<li><a th:href="@{/tagManage}">태그관리</a></li> 
			<li><a th:href="@{/user}">사용자관리</a></li>
		</div>
			
		<p th:text = "${name}"></p>
		
		<table class="table-striped table-bordered table-condensed">
			<tr>
				<td>TID</td>
				<td>Battery</td>
				<td>UpdateTime</td>
				<td>처리</td>
			</tr>
			<tr th:each="tag : ${tags}">
			
				<td th:text="${tag.tid}"/>
				<td th:text="${tag.battery}"/>
				<td th:text="${tag.update_time}"/>
				
				<td>
					<form th:action="@{/tagManage/delete}" method="post">
						<input type = "submit" value ="삭제"/>
						<input type = "hidden" name="id"  th:value="${tag.tid}"/>
					</form>					
				</td>				
			</tr>
		</table>
		<footer>test1</footer>
		</div>
		
	</body>	
</html>