<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
	<head>
		<meta charset="UTF-8"/>
	
	</head>
		<th:block layout:fragment="css">
		</th:block>
		
	<section layout:fragment="content" id="jb-content">

		<table class="table-striped table-bordered table-condensed">
			<tr>
				<td>message</td>
				
				
				<td>처리</td>
			</tr>
			<tr th:each="message : ${message}">
							<td th:text="${message}"/>				
							
			</tr>
		</table>
		

		 	
		</section>
</html>


