<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
	
	<head>
		<meta charset="UTF-8"/>
		<title>태그 관리 페이지</title>
	
	</head>
	
	<section layout:fragment="content" id="jb-content">
		
		
		<table class="table-striped table-bordered table-condensed">
			<tr>
				<td>code</td>
				<td>Name</td>
				<td>Direction</td>
				<td>X1</td>
				<td>Y1</td>
				<td>X2</td>
				<td>Y2</td>
				<td>X3</td>
				<td>Y3</td>
				<td>X4</td>
				<td>Y4</td>
				
				<td>처리</td>
			</tr>
			<tr th:each="location : ${locations}">
			
				<td th:text="${location.location_code}"/>
				<td th:text="${location.location_name}"/>
				<td th:text="${location.direction}"/>
				<td th:text="${location.x1}"/>
				<td th:text="${location.y1}"/>
				<td th:text="${location.x2}"/>
				<td th:text="${location.y2}"/>
				<td th:text="${location.x3}"/>
				<td th:text="${location.y3}"/>
				<td th:text="${location.x4}"/>
				<td th:text="${location.y4}"/>
				<td th:text="${location.y1}"/>
				
				<td>
					<form th:action="@{/location/delete}" method="post">
						<input type = "submit" value ="삭제"/>
						<input type = "hidden" name="id"  th:value="${location.location_code}"/>
					</form>					
				</td>				
			</tr>
		</table>

		</section>
</html>